html {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

h1 {
    width: 100%;
    margin: auto;
    letter-spacing: 0.05em;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, blue, pink);
}

#page-without-footer {
    width: 70%;
    padding: 5px;
    margin: auto 0px 0px 0px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background: #f1faee63;
    border-radius: 120px;
}

button {
    height: 100%;
    padding: 0px;
    margin: 10px;
    border: 0px solid;
    border-radius: 100%;
    background: #f1faee63;
    transition: transform 0.3s linear;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
}
/* Animation for Weapons When Click */
.click-animation {
    transform: translateY(-15px);
}

img {
    height: 180px;
    width: 180px;
    border-radius: 100px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.286);
}

#restart {
    padding: 10px;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.281);
    font-size: 1.5em;
    letter-spacing: 0.05em;
    transform: none;
    transition: background 0.3s ease-in-out;
}

#restart:hover {
    background: rgba(0, 0, 0, 0.17);
}

svg {
    width: 20px;
    position: relative;
    bottom: 45px;
    left: 160px;
    border-radius: 100%;
    cursor: help;
    transition: box-shadow 0.3s;
}

svg:hover {
    box-shadow: 0px 0px 5px 5px rgba(255, 255, 0, 0.574);
}

.pop-up-menu {
    padding: 15px;
    position: absolute;
    top: 35%;
    left: 56%;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 35px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
    text-align: left;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s opacity, 0.3s visibility;
}

.pop-up-menu h3 {
    padding-bottom: 15px;
    margin-top: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.6);
    font-size: 1.2em;
}

.pop-up-menu ul {
    padding-left: 20px;
    font-size: 1.1em;
    text-align: left;
    letter-spacing: 0.05em;
    list-style: none;
}
/* Show pop up when hover svg img */
svg:hover + .pop-up-menu {
    opacity: 1;
    visibility: visible;
}
/* Results of the game */
#results {
    margin-bottom: 0px;
}
/* Score and Divider */
span {
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.281);
}
/* Animations */
.win-background {
    animation: 0.5s linear 0s win-background;
}

.lose-background {
    animation: 0.5s linear 0s lose-background;
}

.win-color {
    animation: 1s linear 0s win-color;
}

.lose-color {
    animation: 1s linear 0s lose-color;
}

.tie-color {
    animation: 0.5s linear 0s tie-color;
}

@keyframes win-background {
    to {
        background: #c7f9cc;
    }
}

@keyframes lose-background {
    to {
        background: #e639477c;
    }
}

@keyframes win-color {
    50% {
        box-shadow: 0px 0px 15px 10px #c7f9cc;
    }
}

@keyframes lose-color {
    50% {
        box-shadow: 0px 0px 15px 10px #e639477c;
    }
}

@keyframes tie-color {
    50% {
        color: #f4a261;
    }
}
/* Divider */
span:nth-child(2) {
    padding: 10px 5px;
    margin: 0px 10px;
    box-shadow: none;
    transition: 10s color;
}
/* Empty div for Placing Restart on the Next Line */
.break {
    height: 0;
    flex-basis: 100%;
}

footer {
    margin-top: auto;
    display: flex;
}

@media (min-width: 886px) {
    #page-without-footer {
        width: 700px;
    }

    #results {
        margin-top: 20px;
    }
}

@media (max-width: 885px) {
    svg,
    .pop-up-menu {
        height: 0px;
        width: 0px;
        visibility: hidden;
        left: 0px;
    }

    h1 {
        width: 80%;
        padding-top: 20px;
    }
}

@media (max-width: 593px) {
    img {
        height: 150px;
        width: 150px;
    }

    h1 {
        font-size: 1.4em;
    }

    #restart {
        font-size: 1.4em;
    }
}

@media (max-width: 508px) {
    #page-without-footer {
        height: 90%;
        width: 55%;
    }

    #lower-part {
        height: 70%;
    }

    img {
        height: 120px;
        width: 120px;
    }

    button {
        height: auto;
    }

    #restart {
        margin-top: auto;
    }
}

@media (max-width: 354px) {
    h1 {
        font-size: 1.2em;
    }

    img {
        height: 100px;
        width: 100px;
    }
}
